.coloring{
  background-color:#EEEEEE;
}
.coloring1{
background-color:#EEEEEE;
}
.coloringscience{
background-color:#E8F9FD;
}
.coloring1science{
color:#E8F9FD;
}
.coloringtechnology{
background-color:#D3EBCD;
}
.coloring1technology{
color:#D3EBCD;
}
.coloringsports{
background-color:#DFD3C3;
}
.coloring1sports{
color:#DFD3C3;
}
.coloringbusiness{
background-color:#CFD2CF;
}
.coloring1business{
 color:#CFD2CF;
}
.coloringentertainment{
background-color:#AA8B56;
}
.coloring1entertainment{
color:#00FFD1;
}
.coloringhealth{
background-color:#F2D1D1;
}
.coloring1health{
color:#F2D1D1;
}
.bodycolor{
  background-color: black;
}
.headlines{
  color: red;
}

.headingnames{
font-family: 'Titillium Web', sans-serif;
}
.headingnames1{
font-family: 'Secular One', sans-serif;
}